/* .App {
  text-align: center;
}
 */

.page-container {
  display: flex;
  width: 100%;
}

.page-container-left {
  width: 60%;
  padding:0.25rem;
}

.page-container-right {
  width: 30%;
  height:150px;
  padding:0.25rem 0.5rem; 
  background-color: #E2E8F0;
}

.img-div {
  /* height: 150px; */
  width: 150px;
  margin-right: 0.5rem;
}

.img-cart{
  width:100%;
  height:100%;
}

.content-div {
  display: flex;
  flex-direction: column;
}

.btn-quantity{
  font-size: 1.25rem;
  background: transparent;
  border: 1px solid black;
}

.btn-inc, .btn-dec{
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.15rem;
  font-weight: bold;
}

.bill-div{
  display: flex;
  justify-content: space-between;
  margin:"0.25rem"
}

@media screen and (max-width: 600px) {
  .page-container {
    flex-direction: column;
  }

  .page-container-left {
    width: 100%;
  }

  .page-container-right {
    width: 100%;
  }
}
